header{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;

    & > a {
        display: block;
        text-align: left;

        img {
            width: 20rem;
            margin: 1rem 1rem 1rem 5rem;
        }
    }
}

nav {
    ul {
        list-style: none;
        margin: auto;
        padding: 0;
        position: relative;
        text-align: center;

        li {
            font-family: Lato, sans-serif;
            display: block;
            float: left;
            margin-right: 30px;
            text-align: center;
            width: 111px;
        }
    }

    &.topNav {
        position: absolute;
        top: 2.25rem;
        right: 5rem;
        z-index: 2000;

        li {
            margin-left: 0%;
        }
    }
}