header{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;

    & > a {
        display: block;
        text-align: left;

        img {
            width: 20rem;
            margin: 1rem 1rem 1rem 5rem;
        }
    }
}

nav {
    ul {
        list-style: none;
        margin: auto;
        padding: 0;
        position: relative;
        text-align: center;

        li {
            font-family: Lato, sans-serif;
            display: block;
            float: left;
            margin-right: 30px;
            text-align: center;
            width: 111px;

            a {
                border: 1px solid #FFF;
                color: #FFF;
                display: block;
                font-weight: 200;
                padding: 10px;
                text-decoration: none;
                text-transform: uppercase;
                width: 100%;
                
                &:hover, &:focus {
                    border: 1px solid #253273;
                    color: #253273;
                    background-color: #ffffd1;
                    -webkit-transition: 0.1s ease-out; 
                    -moz-transition: 0.1s ease-out;
                }
            }
        }
    }

    &.topNav {
        position: absolute;
        top: 2.25rem;
        right: 5rem;
        z-index: 2000;

        li {
            margin-left: 0%;
        }
    }
}